* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: fit-content;
    background-color: gray;
}

.navbar {
    display: flex;
    position: absolute;
    width: 540px;
}

.backgroundImage {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.wrapBackground {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;

    position:relative;
    display: flex;
    justify-content: center;
}
.textBox {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 540px;
    background-color: rgba(255, 255, 255, 0.348);
}

#fetchImageAPI {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    border-radius: 20px;
}

.textBlack {
    font-family: MedievalSharp;
    font-weight: 800;
    color: black;
}


.textWhite {
    font-family: MedievalSharp;
    font-weight: 800;
    color: white !important;
}